// promo buttons
.promo-box__btn {
  @include buttonsProperties();
  width: 216px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 30px;

  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
}

// modal form buttons
.feedback-form__btn {
  @include flexCenter();
  @include buttonsProperties();
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
}

// modal button closed
.modal-window__btn-closed {
  @include flexCenter();
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: transparent;
  cursor: pointer;
  color: $color-main-light;
  transition: background-color $trasition-cubic-bazier,
    border-color $trasition-cubic-bazier, transform $trasition-cubic-bazier,
    color $trasition-cubic-bazier;

  &:hover,
  &:focus {
    transform: rotate(90deg);
    background-color: rgba(33, 150, 243, 0.9);
    border-color: none;
    outline: none;
  }
}

.modal-window__closed-icon {
  position: absolute;
  display: block;
  fill: #000000;
  transition: fill $trasition-cubic-bazier;
}

.modal-window__btn-closed:hover .modal-window__closed-icon,
.modal-window__btn-closed:focus .modal-window__closed-icon {
  fill: currentColor;
}

// footer buttons
.footer-form__btn {
  @include flexCenter();
  @include buttonsProperties();
 
  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: $color-main-light;
}
