.commands-social {
  margin-top: 15px;
   @include flexJustify();
}

.comands-social__link {
  @include flexCenter();
  width: 44px;
  height: 44px;
  border-radius: $border-radius;
  fill: currentColor;
  color: $social-standart-color;
  transition: fill $trasition-cubic-bazier,
    background-color $trasition-cubic-bazier;

  &:hover,
  &:focus {
    background-color: $activ-logo-color;
    fill: $color-main-light;
  }
}

.comands-social__icon {
  display: block;
}

