.footer-adress__link {
  font-style: normal;
  color: $color-main-light;
  transition: color $trasition-cubic-bazier;
}

.footer-link__mail,
.footer-link__phone {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: $trasition-cubic-bazier;
}

.footer-adress__link:hover,
.footer-link__mail:hover,
.footer-link__phone:hover,
.footer-adress__link:focus,
.footer-link__mail:focus,
.footer-link__phone:focus {
  color: $activ-logo-color;
}