.footer-subscription-wrapper {
  margin-left: auto;
}

.footer__subscription {
  font-weight: $font-weight-bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-main-light;
}

.footer-form {
  margin-top: 20px;
  display: flex;
}

.footer-form__email {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $border-radius-button;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;

  &:focus {
    border-color: $activ-logo-color;
    outline: $activ-logo-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.25;
  }
}

.footer-form__btn {
 @include flexCenter();
  width: 200px;
  height: 50px;
  background-color: $activ-logo-color;
  border: none;
  border-radius: $border-radius-button;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $color-main-light;
  transition: background-color $trasition-cubic-bazier;

  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: $color-main-light;
}

