.page-header__logo {
  @include logoProperties();
  color: $second-logo-color;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-header__logo span,
.footer__logo span {
  color: $activ-logo-color;
}

// footer logo
.footer__logo {
  @include logoProperties();
  display: block;
  color: $color-main-light;
  margin-bottom: 20px;
}