.portfolio__overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  padding: 63px 24px;
  transition: transform $trasition-cubic-bazier, opacity $trasition-cubic-bazier;
}